<div class="product-card group relative">
  <a href="{{ product.url }}" class="block overflow-hidden bg-custombg">
    <div class="relative w-full pb-[125%] overflow-hidden bg-custombg">
      {% if product.compare_at_price > product.price %}
        <span class="absolute top-3 left-3 z-10 bg-secondary text-white font-bold text-[13px] px-2 py-1 tracking-widest uppercase">
          {{ 'products.product.on_sale' | t }}
        </span>
      {% endif %}

      <!-- Wishlist Heart Button -->
      {% render 'wishlist-heart', product: product %}

      <img
        src="{{ product.featured_image | image_url: width: 600 }}"
        alt="{{ product.title }}"
        height=""
        width=""
        class="absolute inset-0 w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
        loading="eager"
      >

      {% if product.images[1] %}
        <img
          src="{{ product.images[1] | image_url: width: 600 }}"
          alt="{{ product.title }}"
          loading="eager"
          width="600"
          height="800"
          class="w-full h-full object-cover absolute inset-0 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
        >
      {% endif %}
    </div>
  </a>

  <div class="mt-4 text-center">
    <h3 class="text-sm font-body text-primary uppercase tracking-wider">
      <a href="{{ product.url }}">{{ product.title }}</a>
    </h3>
    <div class="mt-1 flex justify-center items-center gap-2">
      {% if product.compare_at_price > product.price %}
        <span class="text-gray-400 line-through text-xs">{{ product.compare_at_price | money }}</span>
      {% endif %}
      <p class="text-secondary font-body">{{ product.price | money }}</p>
    </div>
  </div>
</div>
