<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% comment %}
      Font preloading for Luvia Era Fonts:
    {% endcomment %}
    {% unless settings.heading_font.system? %}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
      {{ settings.heading_font | font_url | preload_tag: as: 'font', crossorigin: 'anonymous' }}
    {% endunless %}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
    {{ 'tailwind.output.css' | asset_url | stylesheet_tag }}
    {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}

    <style>
      /* Fontları Yüklüyoruz */
      {{ settings.heading_font | font_face: font_display: 'swap' }}
      {{ settings.body_font | font_face: font_display: 'swap' }}

      :root {
        /* Renk Değişkenleri */
        --color-primary: {{ settings.color_primary | default: '#3B443C' }};
        --color-secondary: {{ settings.color_secondary | default: '#B2AC88' }};
        --color-bg: {{ settings.color_bg | default: '#FFFFFF' }};

        /* Font Değişkenleri */
        --font-heading: {{ settings.heading_font.family | default: 'serif' }}, {{ settings.heading_font.fallback_families }};
        --font-body: {{ settings.body_font.family | default: 'sans-serif' }}, {{ settings.body_font.fallback_families }};
      }

      /* Global Uygulama */
      body {
        font-family: var(--font-body);
        background-color: var(--color-bg);
        color: var(--color-primary);
      }

      h1, h2, h3, h4, h5, h6, .font-heading {
        font-family: var(--font-heading);
      }
    </style>
  </head>

  <body>
    <div
      id="toast-container"
      class="fixed bottom-10 left-1/2 -translate-x-1/2 z-[200] space-y-2 pointer-events-none"
    ></div>

    {% sections 'header-group' %}
    {% render 'cart-drawer' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}

    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    <script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script>
  </body>
</html>
