<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% comment %}
      Font preloading for Luvia Era Fonts:
    {% endcomment %}
    {% unless settings.heading_font.system? %}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
      {{ settings.heading_font | font_url | preload_tag: as: 'font', crossorigin: 'anonymous' }}
    {% endunless %}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    <style>
      :root {
        --color-primary: #3b443c;
        --color-secondary: #b2ac88;
        --color-bg: #ffffff;
        --font-heading: 'Josefin Sans', sans-serif;
        --font-body: 'Inter', sans-serif;
      }

      body {
        background-color: var(--color-bg);
        color: var(--color-primary);
        font-family: var(--font-body);
        margin: 0;
        -webkit-font-smoothing: antialiased;
      }
    </style>

    {{ content_for_header }}
    {{ 'tailwind.output.css' | asset_url | stylesheet_tag }}
    {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
  </head>

  <body>
    <div
      id="toast-container"
      class="fixed bottom-10 left-1/2 -translate-x-1/2 z-[200] space-y-2 pointer-events-none"
    ></div>

    {% sections 'header-group' %}
    {% render 'cart-drawer' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}

    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    <script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script>
  </body>
</html>
