{% comment %}
  This section is used in the 404 template to render page shown when customers
  enter an invalid store URL.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/404
{% endcomment %}

<div class="bg-custombg">
  <div class="container flex flex-col items-center justify-center text-center" style="height: 85vh;">
    <h1 class="font-heading text-secondary opacity-50 select-none">
      {{ '404.title' | t }}
    </h1>
    <h2 class="font-heading mt-4 text-primary uppercase tracking-tight">
      {{ '404.not_found' | t }}
    </h2>
    <p class="font-body mt-6 text-primary opacity-80 leading-relaxed" style="width: 80%">
      {{ '404.not_found_text' | t }}
    </p>
    <div class="mt-10">
      <a
        href="{{ routes.root_url }}"
        class="inline-block p-5 text-xs font-body tracking-[0.2em] uppercase transition-all duration-300 border border-primary text-primary hover:bg-primary hover:text-white antialiased"
      >
        {{ '404.back_to_shopping' | t }}
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:general.404",
  "settings": []
}
{% endschema %}
