<footer class="bg-custom-bg text-primary py-20 border-t border-[#d1d1d1]">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-10">
      <div class="w-1/2">
        <h4 class="text-sm font-bold uppercase tracking-widest mb-3 text-secondary">
          {{ section.settings.menu_1_title }}
        </h4>
        <ul class=" text-sm font-light text-primary flex flex-col gap-3">
          {% for link in linklists[section.settings.footer_menu_1].links %}
            <li>
              <a href="{{ link.url }}" class="hover:text-secondary transition-colors duration-300">
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="w-1/2">
        <h4 class="text-sm font-bold uppercase tracking-widest mb-3 text-secondary">
          {{ section.settings.menu_2_title }}
        </h4>
        <ul class="space-y-4 text-sm font-light text-primary flex flex-col">
          {% for link in linklists[section.settings.footer_menu_2].links %}
            <li>
              <a href="{{ link.url }}" class="hover:text-secondary transition-colors duration-300">
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="w-full lg:w-3/5">
        <h4 class="text-sm font-semibold uppercase tracking-widest mb-6 text-secondary">
          {{ section.settings.gallery_title }}
        </h4>
        <div class="grid grid-cols-4 md:grid-cols-4 lg:grid-cols-2 gap-2">
          {% for block in section.blocks %}
            {% if block.type == 'gallery_image' %}
              <div class="aspect-square overflow-hidden bg-gray-100 group">
                {% if block.settings.image != blank %}
                  {{
                    block.settings.image
                    | image_url: width: 400
                    | image_tag:
                      class: 'w-full h-full object-cover transition-transform duration-500 group-hover:scale-110'
                  }}
                {% else %}
                  {{ 'image' | placeholder_svg_tag: 'w-full h-full bg-gray-200' }}
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="w-100% mt-10  mx-auto text-center ">
      <h4 class="text-sm font-bold uppercase tracking-widest mb-1 text-secondary pt-10">
        {{ 'footer.newsletter' | t }}
      </h4>
      <p class="text-xs text-primary mb-4 font-medium ">
        {{ 'footer.be_first_to_know' | t }}
      </p>
      <form class="flex border-b border-secondary pb-2">
        <input
          type="email"
          placeholder="{{ 'footer.email_address' | t }}"
          class="bg-transparent border-none text-sm w-full focus:outline-none placeholder:text-primary text-primary"
        >
        <button type="submit" class="text-secondary uppercase text-xs tracking-widest font-semibold ml-2">
          {{ 'footer.join' | t }}
        </button>
      </form>
    </div>
  </div>
</footer>

<div class="bg-custom-bg py-4 text-center border-t border-[#d1d1d1]">
  <div class="container">
    <div class="footer__copyright text-[12px]">
      &copy;
      {{ 'now' | date: '%Y' }}
      {{ shop.name | link_to: routes.root_url }} - {{ 'footer.all_rights_reserved' | t }}
    </div>
    <div class="footer__payment">
      {% if section.settings.show_payment_icons %}
        {% for type in shop.enabled_payment_types %}
          {{ type | payment_type_svg_tag }}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

<button
  id="back-to-top"
  class="fixed bottom-8 right-8 z-100 bg-primary hover:bg-secondary text-white p-3 rounded-full shadow-2xl transition-all duration-500 transform translate-y-20 opacity-0 hover:scale-110 active:scale-95 cursor-pointer"
  aria-label="Go Up"
>
  {% render 'icon-arrow' %}
</button>

{% schema %}
{
  "name": "Footer Three",
  "settings": [
    {
      "type": "text",
      "id": "menu_1_title",
      "label": "1. Menü Başlığı",
      "default": "Collections"
    },
    {
      "type": "link_list",
      "id": "footer_menu_1",
      "label": "1. Menü Seçimi",
      "default": "footer"
    },
    {
      "type": "text",
      "id": "menu_2_title",
      "label": "2. Menü Başlığı",
      "default": "Customer Care"
    },
    {
      "type": "link_list",
      "id": "footer_menu_2",
      "label": "2. Menü Seçimi"
    },
    {
      "type": "text",
      "id": "gallery_title",
      "label": "Galeri Başlığı",
      "default": "Follow Us @LuviaEra"
    }
  ],
  "blocks": [
    {
      "type": "gallery_image",
      "name": "Galeri Görseli",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Görsel Seç"
        }
      ]
    }
  ]
}
{% endschema %}
