<footer class="bg-custombg text-primary pt-16 pb-8 px-6 border-t border-line">
  <div class="">
    <div class="">
      <div class="w-full flex items-center justify-center">
        <a href="{{ routes.root_url }}" class="block">
          {% if section.settings.footer_logo != blank %}
            {%- assign logo_alt = section.settings.footer_logo.alt | default: shop.name -%}
            {{
              section.settings.footer_logo
              | image_url: width: 200
              | image_tag: class: 'h-8 w-auto object-contain', alt: logo_alt
            }}
          {% else %}
            <span class="text-2xl font-light tracking-[0.2em] uppercase text-primary">
              {{ 'footer.luvia_era' | t }}
            </span>
          {% endif %}
        </a>
      </div>
    </div>
    <div class="container w-full flex flex-wrap md:items-start items-center gap-8 justify-between mt-20">
      <div class="md:w-[400px] w-full">
        <h4 class="text-sm font-bold uppercase tracking-widest mb-3 text-secondary">
          {{ section.settings.menu_1_title }}
        </h4>
        <ul class="space-y-4 text-sm font-light text-primary flex flex-row gap-3">
          {% for link in linklists[section.settings.footer_menu_1].links %}
            <li>
              <a href="{{ link.url }}" class="hover:text-secondary transition-colors duration-300">
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="md:w-[400px] w-full">
        <h4 class="text-sm font-bold uppercase tracking-widest mb-3 text-secondary">
          {{ section.settings.menu_2_title }}
        </h4>
        <ul class="space-y-4 text-sm font-light text-primary flex flex-row gap-3">
          {% for link in linklists[section.settings.footer_menu_2].links %}
            <li>
              <a href="{{ link.url }}" class="hover:text-secondary transition-colors duration-300">
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="md:w-[300px] w-full">
        <h4 class="text-sm font-bold uppercase tracking-widest mb-3 text-secondary">
          {{ 'footer.newsletter' | t }}
        </h4>
        <p class="text-xs text-primary mb-4 font-medium ">
          {{ 'footer.be_first_to_know' | t }}
        </p>
        <form class="flex border-b border-secondary pb-2">
          <input
            type="email"
            placeholder="Email address"
            class="bg-transparent border-none text-sm w-full focus:outline-none placeholder:text-primary text-primary"
          >
          <button type="submit" class="text-secondary uppercase text-xs tracking-widest font-semibold ml-2">
            {{ 'footer.join' | t }}
          </button>
        </form>
      </div>
    </div>
  </div>
</footer>

<div class="bg-custombg py-4 text-center border-t border-line">
  <div class="container">
    <div class="footer__copyright text-[12px]">
      &copy;
      {{ 'now' | date: '%Y' }}
      {{ shop.name | link_to: routes.root_url }} - {{ 'footer.all_rights_reserved' | t }}
    </div>
    <div class="footer__payment">
      {% if section.settings.show_payment_icons %}
        {% for type in shop.enabled_payment_types %}
          {{ type | payment_type_svg_tag }}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

<button
  id="back-to-top"
  class="fixed bottom-8 right-8 z-[120] bg-primary hover:bg-secondary text-white p-3 rounded-full shadow-2xl transition-all duration-500 transform translate-y-20 opacity-0 hover:scale-110 active:scale-95 cursor-pointer"
  aria-label="Go Up"
>
  {% render 'icon-arrow' %}
</button>

{% schema %}
{
  "name": "Footer Two",
  "settings": [
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Logo image"
    },
    {
      "type": "text",
      "id": "footer_description",
      "label": "Description",
      "default": "Defining your essence through timeless designs."
    },
    {
      "type": "text",
      "id": "footer_address",
      "label": "Address",
      "default": "Your Address"
    },
    {
      "type": "text",
      "id": "footer_email",
      "label": "Email",
      "default": "info@luviaera.com"
    },
    {
      "type": "text",
      "id": "menu_1_title",
      "label": "1. Menu Title",
      "default": "Collections"
    },
    {
      "type": "link_list",
      "id": "footer_menu_1",
      "label": "1. Menu Selection",
      "default": "footer"
    },
    {
      "type": "text",
      "id": "menu_2_title",
      "label": "2. Menu Title",
      "default": "Customer Care"
    },
    {
      "type": "link_list",
      "id": "footer_menu_2",
      "label": "2. Menu Selection"
    }
  ]
}
{% endschema %}
