<footer class="bg-custombg text-primary pt-14">
  <div class="">
    <div class="w-full flex items-center justify-center border-b border-line pb-10">
      <a href="{{ routes.root_url }}" class="block" aria-label="{{ shop.name }} homepage">
        {% if section.settings.footer_logo != blank %}
          {%- assign logo_alt = section.settings.footer_logo.alt | default: shop.name -%}
          {{
            section.settings.footer_logo
            | image_url: width: 200
            | image_tag: class: 'h-8 w-auto object-contain', alt: logo_alt, loading: 'eager'
          }}
        {% else %}
          <span class="text-2xl font-light tracking-[0.2em] uppercase text-primary">
            {{ 'footer.luvia_era' | t }}
          </span>
        {% endif %}
      </a>
    </div>
    <div class="container w-full xl:h-[200px] flex flex-wrap items-center xl:items-start gap-8 justify-between py-14">
      <div class="md:w-[400px] w-full">
        <h6 class="font-light uppercase tracking-widest mb-3 text-primary">
          {{ section.settings.menu_1_title }}
        </h6>
        <ul class="text-sm font-light text-primary flex flex-row flex-wrap gap-3">
          {% for link in linklists[section.settings.footer_menu_1].links %}
            <li class="pt-0">
              <a
                href="{{ link.url }}"
                class="hover:text-secondary transition-colors duration-300 {% if link.active %}text-primary font-bold active-link{% else %}text-black hover:text-secondary{% endif %}"
              >
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="md:w-[400px] w-full">
        <h6 class="font-light uppercase tracking-widest mb-3 text-primary">
          {{ section.settings.menu_2_title }}
        </h6>
        <ul class="text-sm font-light text-primary flex flex-row flex-wrap gap-3">
          {% for link in linklists[section.settings.footer_menu_2].links %}
            <li class="pt-0">
              <a
                href="{{ link.url }}"
                class="hover:text-secondary transition-colors duration-300 {% if link.active %}text-primary font-bold active-link{% else %}text-black hover:text-secondary{% endif %}"
              >
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="w-full lg:w-[300px] ">
        <h6 class="font-light uppercase tracking-widest mb-3 text-primary">Newsletter</h6>
        <p class="text-xs text-primary mb-4 font-medium ">
          Be the first to know about new collections and exclusive events.
        </p>

        {% form 'customer', class: 'flex border-b border-gray-400 pb-2' %}
          <input type="hidden" name="contact[tags]" value="newsletter">

          <input
            type="email"
            name="contact[email]"
            value="{{ form.email }}"
            placeholder="Your email address"
            class="bg-transparent border-none text-sm w-full focus:outline-none placeholder:text-primary text-primary"
            aria-required="true"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            required
          >

          <button type="submit" class="text-secondary uppercase text-xs tracking-widest font-semibold ml-2">
            Subscribe
          </button>

          {%- if form.posted_successfully? -%}
            <p class="text-[14px] text-green-600 absolute mt-8 italic">Thanks for subscribing!</p>
          {%- endif -%}

          {%- if form.errors -%}
            <p class="text-[14px] text-red-600 absolute mt-8 italic">Please try again.</p>
          {%- endif -%}
        {% endform %}
      </div>
    </div>
  </div>
</footer>

<div class="bg-custombg py-4 text-center border-t border-line">
  <div class="container">
    <div class="footer__copyright text-[12px]">
      &copy;
      {{ 'now' | date: '%Y' }}
      {{ shop.name | link_to: routes.root_url }} - {{ 'footer.all_rights_reserved' | t }}
    </div>
    <div class="footer__payment">
      {% if section.settings.show_payment_icons %}
        {% for type in shop.enabled_payment_types %}
          {{ type | payment_type_svg_tag }}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

<button
  id="back-to-top"
  class="fixed bottom-8 right-8 z-[120] bg-primary hover:bg-secondary text-white p-3 rounded-full shadow-2xl transition-all duration-500 transform translate-y-20 opacity-0 hover:scale-110 active:scale-95 cursor-pointer"
  aria-label="Go Up"
>
  {% render 'icon-arrow' %}
</button>

{% schema %}
{
  "name": "Footer Two",
  "settings": [
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Logo Image"
    },
    {
      "type": "text",
      "id": "footer_description",
      "label": "Description",
      "default": "Defining your essence through timeless designs."
    },
    {
      "type": "text",
      "id": "footer_address",
      "label": "Address",
      "default": "Your Address"
    },
    {
      "type": "text",
      "id": "footer_email",
      "label": "Email",
      "default": "info@luviaera.com"
    },
    {
      "type": "text",
      "id": "menu_1_title",
      "label": "1. Menu Title",
      "default": "Collections"
    },
    {
      "type": "link_list",
      "id": "footer_menu_1",
      "label": "1. Menu Selection",
      "default": "footer"
    },
    {
      "type": "text",
      "id": "menu_2_title",
      "label": "2. Menu Title",
      "default": "Customer Care"
    },
    {
      "type": "link_list",
      "id": "footer_menu_2",
      "label": "2. Menu Selection"
    }
  ]
}
{% endschema %}
