<div class="relative w-full h-[141px] md:h-[101px] lg:h-[150px]">
  <header id="main-header" class="bg-custombg w-full py-5 md:py-0 fixed z-50 border-b border-line">
    {% comment %} topbar {% endcomment %}
    <div class="hidden lg:flex bg-custombg border-b border-line py-2 ">
      <div class="container">
        <div class="flex flex-row items-center justify-between">
          {% comment %} phone {% endcomment %}
          <div class="hidden lg:flex">
            {% if section.settings.show_phone and section.settings.header_phone != blank %}
              <ul class="flex items-center gap-2">
                <li>{% render 'icon-phone' %}</li>
                <li class="font-medium">
                  <a href="{{ section.settings.header_phone | replace: ' ', '' }}">
                    {{ section.settings.header_phone -}}
                  </a>
                </li>
              </ul>
            {% endif %}
          </div>

          {% comment %} Social Media Icons {% endcomment %}
          <div class="hidden lg:flex">
            <ul class="flex items-center gap-3">
              {%- for block in section.blocks -%}
                {%- if block.type == 'social_icon' -%}
                  <li
                    class="rounded-md bg-white hover:bg-secondary text-primary hover:!text-white transition-colors"
                    {{ block.shopify_attributes }}
                  >
                    <a
                      href="{{ block.settings.link | default: '#' }}"
                      target="_blank"
                      class="flex items-center justify-center w-8 h-8 p-1"
                    >
                      {%- case block.settings.icon_choice -%}
                        {%- when 'icon-facebook' -%}
                          {% render 'icon-facebook' %}
                        {%- when 'icon-instagram' -%}
                          {% render 'icon-instagram' %}
                        {%- when 'icon-youtube' -%}
                          {% render 'icon-youtube' %}
                        {%- when 'icon-x' -%}
                          {% render 'icon-x' %}
                        {%- when 'icon-tiktok' -%}
                          {% render 'icon-tiktok' %}
                        {%- when 'icon-snapchat' -%}
                          {% render 'icon-snapchat' %}
                        {%- when 'icon-linkedin' -%}
                          {% render 'icon-linkedin' %}
                        {%- when 'icon-pinterest' -%}
                          {% render 'icon-pinterest' %}
                      {%- endcase -%}
                    </a>
                  </li>
                {%- endif -%}
              {%- endfor -%}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container mx-auto flex md:flex-row flex-col items-center justify-between h-[100px]">
      {% comment %} logo {% endcomment %}
      <a href="{{ routes.root_url }}" class=" w-[170px] lg:w-[180px] shrink-0">
        {% if section.settings.logo %}
          {{ section.settings.logo | image_url: width: 180 | image_tag: alt: shop.name }}
        {% else %}
          <span class="h2">{{ shop.name }}</span>
        {% endif %}
      </a>
      <div class="flex justify-between w-full lg:w-auto md:gap-6">
        {% comment %} menu {% endcomment %}
        <nav class="shrink-0">
          <ul class="hidden lg:flex gap-6">
            {% for link in linklists['main-menu'].links %}
              {% if link.links != blank %}
                <div class="group relative py-4">
                  <button class="flex items-center hover:text-secondary transition-colors cursor-pointer">
                    {{ link.title }}
                    <svg
                      class="w-3 h-3 ml-1 transition-transform duration-300 group-hover:rotate-180"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                  </button>

                  <div class="absolute left-0 top-full hidden group-hover:block min-w-[200px] bg-white shadow-xl border border-line py-4 z-[100] transition-all">
                    {% for childlink in link.links %}
                      <a
                        href="{{ childlink.url }}"
                        class="block px-6 py-2 text-primary text-[15px] hover:bg-custombg hover:text-secondary transition-all "
                      >
                        {{ childlink.title }}
                      </a>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                <a href="{{ link.url }}" class="hover:text-secondary text-[15px] transition-colors py-4">
                  {{ link.title }}
                </a>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>

        {% comment %} mobile menu {% endcomment %}
        <div class="flex lg:hidden">
          <div class="flex items-center lg:gap-2 gap-8 justify-start w-full lg:w-auto">
            <div class="flex lg:hidden">
              <div class="flex lg:hidden">
                <div
                  id="mobile-menu-overlay"
                  class="fixed inset-0 bg-black/80 z-[60] hidden transition-opacity duration-300"
                ></div>

                <div
                  id="mobile-menu-drawer"
                  class="fixed top-0 right-0 h-full w-[80%] max-w-[400px] bg-white z-[70] translate-x-full transition-transform duration-300 ease-in-out shadow-2xl p-6 overflow-scroll"
                >
                  <div class="flex justify-end mb-8">
                    <button id="mobile-menu-close" class="p-2 text-primary">
                      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                      </svg>
                    </button>
                  </div>

                  <nav class="flex flex-col space-y-6">
                    {% for link in linklists['main-menu'].links %}
                      <div class="mobile-nav-item">
                        {% if link.links != blank %}
                          <button class="flex justify-between items-center w-full tracking-widest font-josefin text-primary py-2 border-b border-line mobile-dropdown-btn">
                            {{ link.title }}
                            <svg
                              class="w-4 h-4 transition-transform duration-300"
                              fill="none"
                              stroke="currentColor"
                              viewBox="0 0 24 24"
                            >
                              <path d="M19 9l-7 7-7-7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </button>

                          <div class="hidden overflow-hidden pl-4 flex flex-col space-y-4 mt-4 mb-2 border-l border-secondary/30">
                            {% for childlink in link.links %}
                              <a
                                href="{{ childlink.url }}"
                                class="tracking-wider text-[15px] text-primary hover:text-secondary"
                              >
                                {{- childlink.title -}}
                              </a>
                            {% endfor %}
                          </div>
                        {% else %}
                          <a
                            href="{{ link.url }}"
                            class="block tracking-widest text-primary text-[15px] py-2 border-b border-line"
                          >
                            {{- link.title -}}
                          </a>
                        {% endif %}
                      </div>
                    {% endfor %}
                  </nav>

                  <div class="container py-5 mt-10">
                    <h5 class="text-center mb-5 border-b border-line pb-3">{{ 'general.social_media' | t }}</h5>
                    <div class="flex flex-col lg:flex-row items-center justify-between md:justify-around gap-2">
                      <div class="">
                        {% if section.settings.show_phone and section.settings.header_phone != blank %}
                          <ul class="flex items-center gap-2">
                            <li>{% render 'icon-phone' %}</li>
                            <li class="font-medium">
                              <a href="{{ section.settings.header_phone | replace: ' ', '' }}">
                                {{ section.settings.header_phone -}}
                              </a>
                            </li>
                          </ul>
                        {% endif %}
                      </div>
                      <div class="mt-5">
                        <ul class="flex items-center gap-1">
                          {%- for block in section.blocks -%}
                            {%- if block.type == 'social_icon' -%}
                              <li
                                class="rounded-full p-2 bg-custombg hover:bg-secondary text-primary hover:!text-white transition-colors"
                                {{ block.shopify_attributes }}
                              >
                                <a
                                  href="{{ block.settings.link | default: '#' }}"
                                  target="_blank"
                                  class="w-[25px] h-[25px] flex items-center justify-center"
                                >
                                  {%- case block.settings.icon_choice -%}
                                    {%- when 'icon-facebook' -%}
                                      {% render 'icon-facebook' %}
                                    {%- when 'icon-instagram' -%}
                                      {% render 'icon-instagram' %}
                                    {%- when 'icon-youtube' -%}
                                      {% render 'icon-youtube' %}
                                    {%- when 'icon-x' -%}
                                      {% render 'icon-x' %}
                                    {%- when 'icon-tiktok' -%}
                                      {% render 'icon-tiktok' %}
                                    {%- when 'icon-snapchat' -%}
                                      {% render 'icon-snapchat' %}
                                    {%- when 'icon-linkedin' -%}
                                      {% render 'icon-linkedin' %}
                                    {%- when 'icon-pinterest' -%}
                                      {% render 'icon-pinterest' %}
                                  {%- endcase -%}
                                </a>
                              </li>
                            {%- endif -%}
                          {%- endfor -%}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-row items-center justify-between md:justify-end w-full gap-2">
          <div class="flex lg:hidden items-start justify-start">
            <button id="mobile-menu-open" class="">
              <div id="icon-open" class="block">
                {% render 'icon-menu' %}
              </div>

              <div id="icon-close" class="hidden">
                {% render 'icon-menu-close' %}
              </div>
            </button>
          </div>

          {% comment %} account {% endcomment %}
          <div class="flex items-center gap-0">
            <div class="bg-black/10 p-2 rounded-full bg-custombg hover:bg-secondary hover:!text-white">
              <a href="{{ routes.search_url }}" class="lg:w-[12px] w-[12px] shrink-0">
                {% render 'icon-search' %}
              </a>
            </div>
            <div class="bg-black/10 p-2 rounded-full hover:bg-secondary hover:!text-white">
              <a href="/pages/wishlist" class="lg:w-[12px] w-[12px] shrink-0">
                {% if shop.customer_accounts_enabled %}
                  {% render 'icon-wishlist' %}
                {% endif %}
              </a>
            </div>
            <div class="bg-black/10 p-2 rounded-full hover:bg-secondary hover:!text-white">
              <a href="{{ routes.account_url }}" class="lg:w-[12px] w-[12px] shrink-0">
                {% if shop.customer_accounts_enabled %}
                  {% render 'icon-account' %}
                {% endif %}
              </a>
            </div>
            <div class="bg-black/10 p-2 rounded-full hover:bg-secondary hover:!text-white relative">
              <a href="{{ routes.cart_url }}" class="lg:w-[12px] w-[12px] shrink-0">
                <div class="absolute top-[0px] right-0">
                  <span class="cart-count-bubble bg-secondary w-[20px] h-[20px] flex items-center justify-center text-white text-xs rounded-full">
                    {{- cart.item_count -}}
                  </span>
                </div>
                {% render 'icon-cart' %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<script>
  function updateHeaderHeight() {
    const header = document.querySelector('#main-header');
    if (header) {
      document.documentElement.style.setProperty('--header-height', header.offsetHeight + 'px');
    }
  }

  window.addEventListener('resize', updateHeaderHeight);
  window.addEventListener('load', updateHeaderHeight);
  window.addEventListener('scroll', updateHeaderHeight);
</script>

{% schema %}
{
  "name": "Header - Classic",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "menu"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "header_phone",
      "label": "Phone Number",
      "placeholder": "+90 5XX XXX XX XX"
    },
    {
      "type": "checkbox",
      "id": "show_phone",
      "label": "Show Phone",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "social_icon",
      "name": "Social Media Icon",
      "settings": [
        {
          "type": "select",
          "id": "icon_choice",
          "label": "Select Icon",
          "options": [
            { "value": "icon-facebook", "label": "Facebook" },
            { "value": "icon-instagram", "label": "Instagram" },
            { "value": "icon-youtube", "label": "YouTube" },
            { "value": "icon-x", "label": "X" },
            { "value": "icon-tiktok", "label": "TikTok" },
            { "value": "icon-snapchat", "label": "Snapchat" },
            { "value": "icon-linkedin", "label": "LinkedIn" },
            { "value": "icon-pinterest", "label": "Pinterest" }
          ],
          "default": "icon-instagram"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Social Media Icon Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Header - Classic"
    }
  ]
}
{% endschema %}
