<header class="">
  {% comment %} logo {% endcomment %}
  <div class="container">
    <div class="w-full h-[80px] py-5 items-center justify-center md:justify-between flex">
      <div class="hidden md:flex">
        <ul class="flex items-center gap-2">
          <li>{% render 'icon-phone' %}</li>
          <li class="font-medium">
            <a href="#">0532 463 24 47</a>
          </li>
        </ul>
      </div>
      <div class="">
        <a href="{{ routes.root_url }}" class=" w-[140px] lg:w-[180px] shrink-0">
          {% if section.settings.logo %}
            {{ section.settings.logo | image_url: width: 180 | image_tag: alt: shop.name }}
          {% else %}
            <span class="h2">{{ shop.name }}</span>
          {% endif %}
        </a>
      </div>

      {% comment %}
        <div class="hidden md:flex">
          <ul class="flex items-center gap-2">
            <li class="bg-custom-bg p-2 rounded-full hover:bg-brand hover:text-white">
              <a href="#">{% render 'icon-facebook' %}</a>
            </li>
            <li class="bg-custom-bg p-2 rounded-full hover:bg-brand hover:text-white">
              <a href="#">{% render 'icon-instagram' %}</a>
            </li>
            <li class="bg-custom-bg p-2 rounded-full hover:bg-brand hover:text-white">
              <a href="#">{% render 'icon-youtube' %}</a>
            </li>
            <li class="bg-custom-bg p-2 rounded-full hover:bg-brand hover:text-white">
              <a href="#">{% render 'icon-x' %}</a>
            </li>
            <li class="bg-custom-bg p-2 rounded-full hover:bg-brand hover:text-white">
              <a href="#">{% render 'icon-tiktok' %}</a>
            </li>
          </ul>
        </div>
      {% endcomment %}

      <div class="hidden md:flex">
        <ul class="flex items-center gap-2">
          {%- for block in section.blocks -%}
            {%- if block.type == 'social_icon' -%}
              {%- # Seçilen ikon adını tırnaksız bir değişkene atıyoruz -%}
              {%- assign icon_to_render = block.settings.icon_choice -%}

              <li class="bg-custom-bg p-2 rounded-full hover:bg-brand hover:text-white" {{ block.shopify_attributes }}>
                <a
                  href="{{ block.settings.link | default: '#' }}"
                  target="_blank"
                  class="block w-5 h-5 flex items-center justify-center"
                >
                  {%- # Değişkeni burada render ediyoruz -%}
                  {% render icon_to_render %}
                </a>
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
  {% comment %} navigation {% endcomment %}
  <div class=" bg-custom-bg h-[70px] flex items-center relative">
    <div class="container flex lg:justify-between justify-end items-center w-full">
      <div class="hidden lg:flex flex-row items-center justify-between gap-6 ">
        {% for link in section.settings.menu.links %}
          <a href="{{ link.url }}" class="nav-link hover:text-brand {% if link.current %} is-active {% endif %}">
            {{ link.title }}
          </a>
        {% endfor %}
      </div>
      <div class="flex items-center lg:gap-2 gap-8 justify-start w-full lg:w-auto">
        <div class="flex lg:hidden">
          <button id="menu-toggle" class="group relative order-last">
            <div id="icon-open" class="block">
              {% render 'icon-menu' %}
            </div>

            <div id="icon-close" class="hidden">
              {% render 'icon-menu-close' %}
            </div>
          </button>

          {% comment %} mobile menu {% endcomment %}
          <nav id="main-menu" class="hidden absolute top-[70px] left-0 bg-custom-bg z-40 w-full lg:w-0">
            <div class="flex flex-col p-4 w-full">
              {% for link in section.settings.menu.links %}
                <a
                  href="{{ link.url }}"
                  class="nav-link py-5 border-b border-[#000000]/10 last:border-b-0 w-full {% if link.current %} is-active {% endif %}"
                >
                  {{ link.title }}
                </a>
              {% endfor %}
            </div>
          </nav>
        </div>

        <div class="order-first flex flex-row justify-start gap-7 w-full lg:w-auto">
          <a href="{{ routes.search_url }}" class="lg:w-[30px] w-[20px] text-black hover:text-brand">
            {% render 'icon-search' %}
          </a>
          <a href="{{ routes.account_url }}" class="lg:w-[30px] w-[20px] text-black hover:text-brand">
            {% if shop.customer_accounts_enabled %}
              {% render 'icon-account' | inline_asset_content | link_to: routes.account_url %}
            {% endif %}
          </a>
          <a href="{{ routes.cart_url }}" class="lg:w-[30px] w-[20px] text-black hover:text-brand">
            {% if cart.item_count > 0 %}
              <sup>{{ cart.item_count }}</sup>
            {% endif %}
            {% render 'icon-cart' %}
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header Two",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    }
  ],
  "blocks": [
    {
      "type": "social_icon",
      "name": "Sosyal Medya İkonu",
      "settings": [
        {
          "type": "select",
          "id": "icon_choice",
          "label": "İkon Seçin",
          "options": [
            { "value": "icon-facebook", "label": "Facebook" },
            { "value": "icon-instagram", "label": "Instagram" },
            { "value": "icon-youtube", "label": "YouTube" },
            { "value": "icon-x", "label": "X" },
            { "value": "icon-tiktok", "label": "TikTok" }
          ],
          "default": "icon-instagram"
        },
        {
          "type": "url",
          "id": "link",
          "label": "İkon Linki"
        }
      ]
    }
  ]
}
{% endschema %}
