<header
  id="main-header"
  class="fixed top-0 left-0 z-50 w-full transition-all duration-500 ease-in-out bg-custom-bg/80"
>
  <div class="py-2 border-b bg-custom-bg/50">
    <div class="container flex lg:justify-between justify-center items-center">
      <div class="hidden lg:flex">
        <ul class="flex items-center gap-6">
          {%- for block in section.blocks -%}
            {%- if block.type == 'social_icon' -%}
              <li
                class=""
                {{ block.shopify_attributes }}
              >
                <a
                  href="{{ block.settings.link | default: '#' }}"
                  target="_blank"
                  class="block w-5 h-5 flex items-center justify-center"
                >
                  {%- case block.settings.icon_choice -%}
                    {%- when 'icon-facebook' -%}
                      {% render 'icon-facebook' %}
                    {%- when 'icon-instagram' -%}
                      {% render 'icon-instagram' %}
                    {%- when 'icon-youtube' -%}
                      {% render 'icon-youtube' %}
                    {%- when 'icon-x' -%}
                      {% render 'icon-x' %}
                    {%- when 'icon-tiktok' -%}
                      {% render 'icon-tiktok' %}
                  {%- endcase -%}
                </a>
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </div>
      <div class="">
        <div class="flex flex-row justify-start gap-4 md:!gap-6">
          <a href="{{ routes.search_url }}" class="lg:w-[30px] w-[20px] text-primary hover:text-secondary">
            {% render 'icon-search' %}
          </a>
          <a href="{{ routes.account_url }}" class="lg:w-[30px] w-[20px] text-primary hover:text-secondary">
            {% if shop.customer_accounts_enabled %}
              {% render 'icon-account' | inline_asset_content | link_to: routes.account_url %}
            {% endif %}
          </a>
          <a
            href="{{ routes.cart_url }}"
            class="lg:w-[30px] w-[20px] text-primary hover:text-secondary relative"
          >
            <div
              class="absolute top-[-7px] right-[-15px] md:right-[-5px]"
            >
              <span class="cart-count-bubble bg-secondary w-[20px] h-[20px] flex items-center justify-center text-white text-xs rounded-full">
                {{- cart.item_count -}}
              </span>
            </div>
            <div class="">
              {% render 'icon-cart' %}
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container flex items-center justify-between py-8">
    {% comment %} logo {% endcomment %}
    <div class="container w-[20%] justify-start flex shrink-0" style="padding-left: 0;">
      <a href="{{ routes.root_url }}" class="w-[170px] lg:w-[180px] shrink-0">
        {% if section.settings.logo %}
          {{ section.settings.logo | image_url: width: 180 | image_tag: alt: shop.name }}
        {% else %}
          <span class="h2">{{ shop.name }}</span>
        {% endif %}
      </a>
    </div>

    {% comment %} menu {% endcomment %}
    <div class="w-[80%]">
      <nav class="">
        <ul class="hidden lg:flex justify-end gap-6">
          {% for link in section.settings.menu.links %}
            <li>
              <a
                href="{{ link.url }}"
                class="nav-link hover:text-secondary text-[16px] font-medium {% if link.current %} is-active {% endif %}"
              >
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>

    {% comment %} mobile menu {% endcomment %}
    <div class="flex lg:hidden">
      <button id="menu-toggle" class="group relative order-last">
        <div id="icon-open" class="block">
          {% render 'icon-menu' %}
        </div>

        <div id="icon-close" class="hidden">
          {% render 'icon-menu-close' %}
        </div>
      </button>

      {% comment %} mobile menu {% endcomment %}
      <nav
        id="main-menu"
        class="hidden absolute left-0 w-full bg-custom-bg/80 transition-all duration-500 ease-in-out top-[138px]"
      >
        <div class="flex flex-col p-4 w-full">
          {% for link in section.settings.menu.links %}
            <a
              href="{{ link.url }}"
              class="nav-link py-5 border-b border-[#000000]/10 last:border-b-0 w-full hover:text-secondary {% if link.current %} is-active {% endif %}"
            >
              {{ link.title }}
            </a>
          {% endfor %}
        </div>

        <div class="">
          <div class="container py-5 ">
            <h5 class="text-center mb-5 border-b border-[#000000]/10 pb-3">{{ 'general.social_media' | t }}</h5>
            <div class="flex flex-col lg:flex-row items-center justify-between md:justify-around gap-2">
              <div class="">
                {% if section.settings.show_phone and section.settings.header_phone != blank %}
                  <ul class="flex items-center gap-2">
                    <li>{% render 'icon-phone' %}</li>
                    <li class="font-medium">
                      <a href="{{ section.settings.header_phone | replace: ' ', '' }}">
                        {{ section.settings.header_phone -}}
                      </a>
                    </li>
                  </ul>
                {% endif %}
              </div>
              <div class="">
                <ul class="flex items-center gap-2">
                  {%- for block in section.blocks -%}
                    {%- if block.type == 'social_icon' -%}
                      <li
                        class="bg-custom-bg p-2 rounded-full hover:bg-brand hover:text-primary transition-colors"
                        {{ block.shopify_attributes }}
                      >
                        <a
                          href="{{ block.settings.link | default: '#' }}"
                          target="_blank"
                          class="block w-5 h-5 flex items-center justify-center"
                        >
                          {%- case block.settings.icon_choice -%}
                            {%- when 'icon-facebook' -%}
                              {% render 'icon-facebook' %}
                            {%- when 'icon-instagram' -%}
                              {% render 'icon-instagram' %}
                            {%- when 'icon-youtube' -%}
                              {% render 'icon-youtube' %}
                            {%- when 'icon-x' -%}
                              {% render 'icon-x' %}
                            {%- when 'icon-tiktok' -%}
                              {% render 'icon-tiktok' %}
                          {%- endcase -%}
                        </a>
                      </li>
                    {%- endif -%}
                  {%- endfor -%}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>

<script>
  const header = document.getElementById('main-header');
  const menu = document.getElementById('main-menu');

  window.addEventListener('scroll', () => {
    if (window.scrollY > 30) {
      // Kaydırınca: Tam beyaz ve daha dar header
      header.classList.remove('bg-custom-bg/80');
      header.classList.add('bg-custom-bg', 'shadow-md');
      menu.classList.remove('bg-custom-bg/80');
      menu.classList.add('bg-custom-bg');
    } else {
      // En tepedeyken: Yarı şeffaf ve geniş header
      header.classList.remove('custom-bg', 'shadow-md');
      header.classList.add('bg-custom-bg/80');
      menu.classList.remove('bg-custom-bg');
      menu.classList.add('bg-custom-bg/80');
    }
  });
</script>

{% schema %}
{
  "name": "Header Three",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "header_phone",
      "label": "Phone Number",
      "placeholder": "+90 5XX XXX XX XX"
    },
    {
      "type": "checkbox",
      "id": "show_phone",
      "label": "Show Phone",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "social_icon",
      "name": "Social Media Icon",
      "settings": [
        {
          "type": "select",
          "id": "icon_choice",
          "label": "Select Icon",
          "options": [
            { "value": "icon-facebook", "label": "Facebook" },
            { "value": "icon-instagram", "label": "Instagram" },
            { "value": "icon-youtube", "label": "YouTube" },
            { "value": "icon-x", "label": "X" },
            { "value": "icon-tiktok", "label": "TikTok" }
          ],
          "default": "icon-instagram"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Social Media Icon Link"
        }
      ]
    }
  ]
}
{% endschema %}
