<header>
  {{ settings.logo | json }}
  <a href="{{ routes.root_url }}" class="header__logo-link">
    {% if settings.logo %}
      {{ settings.logo | image_url: width: 300 | image_tag: alt: shop.name }}
    {% else %}
      <span class="h2">{{ shop.name }}</span>
    {% endif %}
  </a>

  <div class="header__menu">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </div>

  <div class="header__icons">
    {% if shop.customer_accounts_enabled %}
      {{ 'icon-account.svg' | inline_asset_content | link_to: routes.account_url }}
    {% endif %}

    <a href="{{ routes.cart_url }}">
      {% if cart.item_count > 0 %}
        <sup>{{ cart.item_count }}</sup>
      {% endif %}

      {{ 'icon-cart.svg' | inline_asset_content }}
    </a>
  </div>
</header>

{% schema %}
{
  "name": "Header Two",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    }
  ]
}
{% endschema %}
