<section
  class="relative w-full overflow-hidden flex items-center justify-center"
  style="height: {{ section.settings.hero_height }}vh; min-height: 300px;"
>
  <div class="absolute inset-0 z-0">
    {% if section.settings.image != blank %}
      {{
        section.settings.image
        | image_url: width: 2000
        | image_tag: class: 'w-full h-full object-cover object-top', loading: 'eager', fetchpriority: 'high'
      }}
    {% else %}
      {% comment %} Tasarımı bozmayan Placeholder buraya eklendi {% endcomment %}
      <div class="w-full h-full bg-gray-200">
        {{ 'lifestyle-2' | placeholder_svg_tag: 'w-full h-full object-cover opacity-30 grayscale' }}
      </div>
    {% endif %}

    <div
      class="absolute inset-0"
      style="background-color: rgba(0,0,0, {{ section.settings.overlay_opacity | divided_by: 100.0 }});"
    ></div>
  </div>

  <div class="relative z-10 text-center px-4">
    <nav class="mb-4 text-[13px] uppercase tracking-[0.2em] text-white">
      <a href="{{ routes.root_url }}" class="hover:text-primary">{{ 'general.home' | t | default: 'Home' }}</a>
      <span class="mx-2">/</span>
      <span class="text-white">
        {%- if section.settings.custom_title != blank -%}
          {{- section.settings.custom_title -}}
        {%- elsif collection.title != blank -%}
          {{- collection.title -}}
        {%- else -%}
          {{- page.title -}}
        {%- endif -%}
      </span>
    </nav>

    <h1 class="text-white max-w-2xl text-xl md:text-3xl uppercase tracking-widest font-light">
      {% if section.settings.custom_title != blank %}
        {{ section.settings.custom_title }}
      {% elsif collection.title != blank %}
        {{ collection.title }}
      {% else %}
        {{ page.title }}
      {% endif %}
    </h1>
  </div>
</section>

{% schema %}
{
  "name": "Page Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "custom_title",
      "label": "Custom Title (if blank, page/collection title will be used)",
      "placeholder": "Example: Our Story"
    },
    {
      "type": "range",
      "id": "hero_height",
      "min": 20,
      "max": 70,
      "step": 5,
      "unit": "vh",
      "label": "Banner Height",
      "default": 40
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 90,
      "step": 10,
      "unit": "%",
      "label": "Image Overlay",
      "default": 30
    }
  ],
  "presets": [
    {
      "name": "Page Header"
    }
  ]
}
{% endschema %}
