{% comment %}
  This section is used in the search template to render search results for
  products, articles, and pages.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/search
{% endcomment %}

<div class="container py-20">
  <form action="{{ routes.search_url }}" method="get" role="search" class="flex items-center gap-2">
    <input
      type="search"
      size="50"
      name="q"
      value="{{ search.terms | escape }}"
      placeholder="{{ 'search.placeholder' | t }}"
      class="border border-gray-300 rounded px-4 py-2 h-16 w-full focus:outline-none focus:ring-1 focus:ring-secondary"
    >
    <button
      type="submit"
      class="h-[64px] w-[64px] border border-gray-300 rounded flex items-center justify-center hover:bg-secondary text-primary hover:text-white cursor-pointer"
    >
      {% render 'icon-search' %}
    </button>
  </form>

  {% if search.performed %}
    {% if search.results_count == 0 %}
      <p>{{ 'search.no_results_html' | t: terms: search.terms }}</p>
    {% else %}
      <div class="pt-10 w-full text-center">
        <p class="text-xl">{{ 'search.results_for_html' | t: terms: search.terms, count: search.results_count }}</p>
      </div>

      <div class="search-results py-10">
        {% paginate search.results by 20 %}
          {% # Search result items may be an article, a page, or a product. %}
          <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 w-full">
            {% for result in search.results %}
              {% render 'product-card', product: result %}
            {% endfor %}
          </div>
          {{ paginate | default_pagination }}
        {% endpaginate %}
      </div>
    {% endif %}
  {% endif %}
</div>

{% stylesheet %}
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.search",
  "settings": []
}
{% endschema %}
