{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  /* color and background settings */
  #LuviaSection-{{ section.id }} {
    {% if section.settings.remove_bg %}
      background-color: transparent !important;
      background-image: none !important;
    {% elsif section.settings.use_custom_bg %}
      background-color: {{ section.settings.section_bg_color }} !important;
      background-image: none !important;
    {% endif %}
  }
{%- endstyle -%}

<section
  id="LuviaSection-{{ section.id }}"
  class="
    transition-colors duration-300 section-{{ section.id }}-padding
    {% unless section.settings.remove_bg or section.settings.use_custom_bg %}bg-custombg color-{{ section.settings.color_scheme }} gradient{% endunless %}
  "
>
  <div class="container mx-auto">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-8 md:gap-4">
      {% for block in section.blocks %}
        <div class="flex flex-col items-center text-center space-y-3 group" {{ block.shopify_attributes }}>
          {% comment %} Icon Area {% endcomment %}
          <div class="text-primary group-hover:text-secondary transition-colors duration-500">
            {% if block.settings.custom_svg != blank %}
              {{ block.settings.custom_svg }}
            {% else %}
              <svg
                width="32"
                height="32"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="0.75"
                stroke-linecap="round"
                stroke-linejoin="round"
                aria-label="{{ block.settings.title | default: 'Trust Icon' }}"
                role="img"
              >
                <path d="M20 7h-9m3 3H5m12 3h-9m6 3H5"></path>
              </svg>
            {% endif %}
          </div>

          {% comment %} Texts {% endcomment %}
          <div class="space-y-1">
            <h6 class="text-secondary">
              {{ block.settings.title }}
            </h6>
            <p class="text-primary text-[12px] uppercase tracking-widest leading-tight">
              {{ block.settings.subtitle }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Trust Icons",
  "max_blocks": 4,
  "settings": [
    {
      "type": "header",
      "content": "Style Settings"
    },
    {
      "type": "range",
      "id": "header_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Header Opacity Rate",
      "default": 100,
      "info": "Adjust the transparency level of the header section if applicable."
    },
    {
      "type": "header",
      "content": "Section Spacing Settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top Padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom Padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top Margin",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom Margin",
      "default": 0
    },
    {
      "type": "header",
      "content": "Background Design"
    },
    {
      "type": "checkbox",
      "id": "use_custom_bg",
      "label": "Use Custom Background Color",
      "default": false
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "checkbox",
      "id": "remove_bg",
      "label": "Remove Background (Transparent)",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "icon_block",
      "name": "Icon Block",
      "settings": [
        { "type": "html", "id": "custom_svg", "label": "Custom SVG Code" },
        { "type": "text", "id": "title", "label": "Title", "default": "Free Shipping" },
        { "type": "text", "id": "subtitle", "label": "Subtitle", "default": "On all orders over $200" }
      ]
    }
  ],
  "presets": [
    {
      "name": "Trust Icons",
      "blocks": [
        { "type": "icon_block", "settings": { "title": "World Wide Shipping", "subtitle": "Premium delivery" } },
        { "type": "icon_block", "settings": { "title": "Secure Payment", "subtitle": "100% Protected" } },
        { "type": "icon_block", "settings": { "title": "Eco Friendly", "subtitle": "Sustainable Fashion" } },
        { "type": "icon_block", "settings": { "title": "Customer Care", "subtitle": "24/7 Support" } }
      ]
    }
  ]
}
{% endschema %}
